<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout :: head">

</head>
<body>
<header th:replace="/layout :: header"></header>
<aside th:replace="/layout :: aside"></aside>

<section class="section-booking bg1-pattern p-t-100 p-b-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-b-30">
                <div class="t-center">
						<span class="tit2 t-center">
							Luxury Garden
						</span>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        Staff Register
                    </h3>
                </div>

                <form class="wrap-form-booking" th:object="${staff}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Full Name -->
                            <span class="txt9">
									Full Name
								</span>
                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{fullName}" class="bo-rad-10 sizefull txt10 p-l-20" type="text"  th:value="*{fullName}" placeholder="Name">
                            </div>

                            <!-- Nick Name -->
                            <span class="txt9">
									Nick Name
								</span>
                            <div class=" size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{nickName}" class="bo-rad-10 sizefull txt10 p-l-20" type="text"  th:value="*{nickName}"/>
                            </div>
                            <!-- User Name -->
                            <span class="txt9">
									UserName
                            </span>

                            <div class=" size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{username}" class="bo-rad-10 sizefull txt10 p-l-20" type="text"  th:value="*{fullName}" placeholder="Name"/>
                            </div>

                            <!-- Password -->
                            <span class="txt9">
									Password
                            </span>

                            <div class="size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{password}" class="bo-rad-10 sizefull txt10 p-l-20" type="password"  th:value="*{password}">
                            </div>

                            <!-- Email -->
<!--                            <span class="txt9">Email</span>-->
<!--                            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">-->
<!--                                <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email">-->
<!--                            </div>-->
                        </div>
                        <div class="col-md-6">
                            <!-- Price -->
                            <span class="txt9">
									Price
                            </span>

                            <div class=" pos-relative txt10 size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input class=" bo-rad-10 sizefull txt10 p-l-20" type="number" th:field="*{price}" th:value="*{price}">
                            </div>

                            <!-- Rank -->
                            <span class="txt9">
									Rank
								</span>

                            <div class="input-group size12 bo2 bo-rad-10 m-t-3 m-b-23">

                                <select class="custom-select sizefull bo-rad-7"   th:field="*{rank}">
                                    <option th:each="r:${allRanks}" th:value="${r.id}" th:text="${r.ranks}"></option>

                                </select>
                            </div>

                            <!-- Status -->
                            <span class="txt9">
									Status
								</span>

                            <div class="input-group size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <select class="custom-select sizefull bo-rad-7" th:field="*{status}">
                                    <option th:each="s:${allStatus}" th:value="${s.id}" th:text="${s.statusName}"></option>

                                </select>
                            </div>
                        </div>


                    </div>

                    <div class="wrap-btn-booking flex-c-m m-t-6">
                        <!-- Button3 -->
                        <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
                            Register
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 p-b-30 p-t-18">
                <div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="../../../resources/images/booking-01.jpg" alt="IMG-OUR">

                </div>
                <div class="m-l-r-auto m-t-12">
                    <th:block th:if="${mess}">
                        <p class="size26 t-center" style="color: green" th:text="${mess}"></p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="/layout :: footer"></footer>
<div th:replace="/layout :: underfooter"></div>
</body>
</html>