<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="/layout :: head">

</head>
<body>
    <header th:replace="/layout :: header"></header>
    <aside th:replace="/layout :: aside"></aside>
    <!-- Detail Zone-->
    <section class="bg1-pattern p-t-120 p-b-105">
        <div class="container">
            <form th:action="@{/purchase/__${userStaff.id}__}" method="post">
                <div class="row" th:object="${userStaff}" >

                    <div class="col-md-6 p-t-45 p-b-30">
                        <div class="wrap-text-delicious t-center">
						<span class="tit2 t-center">
							Staff Detail
						</span>

                            <h3 class="tit3 t-center m-b-35 m-t-5" th:text="*{rank.ranks}">
                            </h3>
                            <div class="txt12 p-b-10" th:text="'Nick Name: '+*{nickName}"></div>
                            <div class="txt12 p-b-10" th:text="'Status: '+*{status.statusName}"></div>
                            <div  class="txt12 p-b-10" th:text="'Price: $'+*{price}"></div>
                            <input id="staffPrice" hidden type="number" th:value="*{price}">
                            <div class="txt13 p-b-10">
                                <button th:if="*{status.statusName=='Free'}" type="button" data-toggle="modal" data-target="#exampleModal" class="btn3 size13 txt11 trans-0-4 m-t-30">
                                    Rước Em Về
                                </button>
                                <button th:if="*{status.statusName=='Busy'}" disabled  class="btn3 size13 txt11 trans-0-4 m-t-30" href="#" >
                                    Em bận rồi
                                </button>
                                <button th:if="*{status.statusName=='Not Available'}" disabled  class="btn3 size13 txt11 trans-0-4 m-t-30" href="#" >
                                    Em đi vắng rồi
                                </button>
                            </div>
                            <div class="txt13">
                                <a href="/staff" class="txt4">
                                    Back to menu
                                    <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 p-b-30">
                        <div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                            <img th:src="'/'+*{avatar}" alt="IMG-OUR">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/payment/__${userStaff.id}__}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chọn phương thức thanh toán!</h5>

                    </div>
                    <div class="modal-body">

                        <div class="row">

                            <div class="paymentCont">
                                <div class="headingWrap">
                                    <h3 class="headingTop text-center">Select Your Payment Method</h3>
                                    <!--                                <p class="text-center">Created with bootsrap button and using radio button</p>-->
                                </div>
                                <div class="timeSelect txt13 t-center p-t-20">
                                    <p>Thời gian thuê(Giờ)</p>
                                    <input style="width: 10%;background-color: aquamarine" class=" m-l-d-auto" id="duration" type="number" value="1">
                                </div>
                                <hr>
                                <div class="totalPrice txt13 t-center p-t-20 justify-content-center" >
                                    <span class="txt4" id="result">$ 0</span> <button style="border: 1px solid black" type="button" onclick="reload()"><i class="fas fa-sync-alt"></i>Reload</button>
                                </div>
                                <hr>
                                <div class="paymentWrap">
                                    <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                                        <label class="btn paymentMethod active">
                                            <div class="method visa"></div>
                                            <input type="radio" name="paymentType" checked>
                                        </label>
                                        <label class="btn paymentMethod">
                                            <div class="method master-card"></div>
                                            <input type="radio" name="paymentType">
                                        </label>
                                        <label class="btn paymentMethod">
                                            <div class="method amex"></div>
                                            <input type="radio" name="paymentType">
                                        </label>
                                        <label class="btn paymentMethod">
                                            <div class="method vishwa"></div>
                                            <input type="radio" name="paymentType">
                                        </label>
                                        <label class="btn paymentMethod">
                                            <div class="method ez-cash"></div>
                                            <input type="radio" name="paymentType">
                                        </label>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Check Out</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        function reload() {
            let staffPrice = document.getElementById("staffPrice").value
            let duration = document.getElementById("duration").value
            let totalPrice = staffPrice*duration;
            document.getElementById("result").innerHTML = "$ "+totalPrice;
        }
    </script>


    <footer th:replace="/layout :: footer"></footer>
    <div th:replace="/layout :: underfooter"></div>
</body>
</html>