<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/layout :: head">

</head>
<body>
<header th:replace="/layout :: header"></header>
<aside th:replace="/layout :: aside"></aside>

<section class="section-booking bg1-pattern p-t-100 p-b-110">
    <div class="container">
        <div class="row" th:object="${newUser}">
            <div class="col-lg-6 p-b-30" >
                <div class="t-center">
						<span class="tit2 t-center">
							Luxury Garden
						</span>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        User Register
                    </h3>
                </div>

                <form class="wrap-form-booking"   method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- First Name -->
                            <span class="txt9">First Name</span>
                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{firstName}" class="bo-rad-10 sizefull txt10 p-l-20" type="text"  th:value="*{firstName}" placeholder="First Name">
                            </div>
                            <!-- Last Name -->
                            <span class="txt9">Last Name</span>
                            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{lastName}" class="bo-rad-10 sizefull txt10 p-l-20" type="text"  th:value="*{lastName}" placeholder="Last Name">
                            </div>

                            <!--Email-->
                            <span class="txt9">Email</span>
                            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{email}" class="bo-rad-10 sizefull txt10 p-l-20" type="text" th:value="*{email}" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- User Name -->
                            <span class="txt9">UserName</span>

                            <div class=" size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{userName}" class="bo-rad-10 sizefull txt10 p-l-20" type="text"  th:value="*{userName}" placeholder="Account"/>
                            </div>

                            <!-- Password -->
                            <span class="txt9">
									Password
                            </span>

                            <div class="size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{password}" class="bo-rad-10 sizefull txt10 p-l-20" type="password" >
                            </div>

                            <!-- Avatar -->
                            <span class="txt9">
									Choose Avatar
                            </span>

                            <div class="select2-container bgwhite size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input th:field="*{avatar}"  class="p-t-8 bo-rad-10 sizefull p-l-3 " type="file">
                            </div>
                        </div>


                    </div>

                    <div class="wrap-btn-booking flex-c-m m-t-6">
                        <!-- Button3 -->
                        <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
                            Register
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 p-b-30 p-t-18">
                <div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="/resources/images/booking-01.jpg" alt="IMG-OUR">

                </div>
                <div class="m-l-r-auto m-t-30">
                    <th:block th:if="${mess}">
                        <div class="fs-25 t-center" style="color: green" th:text="${mess}"></div>
                    </th:block>
                    <div style="color: red">
                        <div class="t-center" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</div>
                        <div class="t-center" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
                        <div class="t-center" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="/layout :: footer"></footer>
<div th:replace="/layout :: underfooter"></div>
</body>
</html>