<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Luxury Garden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../resources/images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../resources/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/main.css">
    <!--===============================================================================================-->
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

</head>
<body>
<header th:replace="/layout :: header"></header>
<aside th:replace="/layout :: aside"></aside>
<section class="section-booking bg1-pattern p-t-100 p-b-110">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-b-30">
                <div class="t-center">
						<span class="tit2 t-center">
							Luxury Garden
						</span>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        Staff Register
                    </h3>
                </div>

                <form class="wrap-form-booking" th:object="${post}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" th:field="*{id}">
                            <!-- Full Name -->
                            <span class="txt9">
									Tiêu Đề
								</span>
                            <div class="size12 bo2 bo-rad-10 m-t-3 m-b-23">
                                <input  type="text" th:field="*{title}" class="bo-rad-10 sizefull txt10 p-l-20" placeholder="Name">
<!--                                <input th:field="*{date_create}" th:value="${System.currentTimeMillis()}" class="bo-rad-10 sizefull txt10 p-l-20" placeholder="Name">-->
                            </div>

                            <!-- Nick Name -->
                            <span class="txt9">
									Nội dung
								</span>
                            <div class="form-group">
                                <textarea th:field="*{content}" class="bo-rad-10 sizefull txt10 p-l-20" rows="5" type="text"/>
                            </div>

                            <span class="txt9">
									Chủ đề
                            </span>
                            <div class="form-group">
                                <select th:field="*{category_id}">
                                    <option th:each=" c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                                </select>
                            </div>
                            <div class="form-group"><input type="hidden" th:field="*{likes}"/>
                                <input type="hidden" th:field="*{users_id}"/>
                                <input type="hidden" th:field="*{date_create}" th:value="*{date_create}"/>
                            </div>
                        </div>
                        <script>
                            CKEDITOR.replace( 'content' );
                        </script>

                    </div>


                    <div class="wrap-btn-booking flex-c-m m-t-6">
                        <!-- Button3 -->
                        <button type="submit" class="btn3 flex-c-m size13 txt11 trans-0-4">
                            Create
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 p-b-30 p-t-18">
                <div class="wrap-pic-booking size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="../../../resources/images/booking-01.jpg" alt="IMG-OUR">
                </div>
                <div class="m-l-r-auto m-t-12">
                    <th:block th:if="${mess}">
                        <div class=" t-center m-t-50" style="color: green" th:text="${mess}"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="/layout :: footer"></footer>
<div th:replace="/layout :: underfooter"></div>
</body>
</html>